# BEGIN WordPress
# The directives (lines) between `BEGIN WordPress` and `END WordPress` are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.

# END WordPress
php_value memory_limit 256M
php_value post_max_size 64M
php_value max_execution_time 90
php_value max_input_time 120
php_value upload_max_filesize 64M
# For testing
php_flag display_errors 1